.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f6fa;
    font-family: 'Segoe UI', sans-serif;
}

.login-box {
    background: white;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.titulo {
    font-size: 26px;
    color: #007bff;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.forgot {
    font-size: 13px;
    text-align: right;
    color: #f5f6fa;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-login {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #007bff;
}

.registro {
    font-size: 14px;
    margin-top: 15px;
    color: #6c757d;
}

.registro span {
    color: #007bff;
    cursor: pointer;
    font-weight: 500;
}