.navbar {
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    position: fixed;
    bottom: 0;
}

.nav-item {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 11px;
    min-width: 68px;
    width: calc(20% - 16px);
    overflow: hidden;
}

.nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.nav-item a:link {
    color: #000;
}

nav-item a:visited {
    color: #000;
}